DB__DRIVER=postgresql+asyncpg
DB__HOST=localhost
DB__PORT=5432
DB__USER=postgres
DB__PASSWORD=pass
DB__NAME=db

AUTH__SECRET=secret
AUTH__TOKEN_ALGORITHM=HS256
AUTH__ACCESS_TOKEN_LIFETIME_SECONDS=300
AUTH__REFRESH_TOKEN_LIFETIME_SECONDS=600
AUTH__COOKIE_SECURE=false

RBAC__ADMIN_EMAIL=admin@example.com
RBAC__ADMIN_PASSWORD=admin
RBAC__ADMIN_ROLE=admin
RBAC__PUBLIC_ROLE=public

COMMON__SCHEME=http
COMMON__HOST=localhost
COMMON__BACKEND_PORT=8888
COMMON__FRONTEND_PORT=5555

RATE_LIMIT__DEFAULT=100/minute
RATE_LIMIT__AUTH=10/minute

EMAIL__USERNAME=example@gmail.com
EMAIL__PASSWORD=
EMAIL__SERVER=smtp.gmail.com
EMAIL__PORT=587
EMAIL__FROM_EMAIL=example@gmail.com
EMAIL__FROM_NAME=Example
EMAIL__STARTTLS=true
EMAIL__SSL_TLS=false
EMAIL__USE_CREDENTIALS=true
EMAIL__VALIDATE_CERTS=true
EMAIL__NOTIFICATION_LIFETIME_SECONDS=3600
EMAIL__TEMPLATE_FOLDER=src/app/templates