DB_SCHEMA=
DB_HOST=
DB_PORT=
DB_USER=
DB_PASSWORD=
DB_NAME=

AUTH_SECRET=
AUTH_ACCESS_TOKEN_LIFETIME_SECONDS=300
AUTH_REFRESH_TOKEN_LIFETIME_SECONDS=600
AUTH_TOKEN_ALGORITHM=HS256

RBAC_ADMIN_EMAIL=admin@example.com
RBAC_ADMIN_PASSWORD=admin
RBAC_ADMIN_ROLE=admin
RBAC_PUBLIC_ROLE=public

EMAIL_USERNAME=example@gmail.com
EMAIL_PASSWORD=
EMAIL_SERVER=smtp.gmail.com
EMAIL_PORT=587
EMAIL_FROM_EMAIL=example@gmail.com
EMAIL_FROM_NAME=Example
EMAIL_STARTTLS=true
EMAIL_SSL_TLS=false
EMAIL_USE_CREDENTIALS=true
EMAIL_VALIDATE_CERTS=true
EMAIL_NOTIFICATION_LIFETIME_SECONDS=3600
EMAIL_APP_BASE_URL=http://localhost:1111
EMAIL_TEMPLATE_FOLDER=src/app/templates

COMMON_HOST=http://localhost:8000
COMMON_FRONTEND_HOST=http://localhost:1111

RATE_LIMIT_DEFAULT=100/minute
RATE_LIMIT_AUTH=10/minute